.newRequest{
    width: 470px;
    height: 550px;
    background-color: white;
    position: absolute;
    top:215px;
    left: 120px;
    border-radius: 5px;
}
.newRequest h1{
    position: absolute;
    top: 199px;
    left: 30px;
    font-size: 18px;
    font-weight: 600;
}
.newRequest select{
    position: absolute;
    top:235px;
    left: 30px;
    width: 360px;
    height: 36px;
    background-color: white;
    border: 1px rgb(212, 212, 212) solid;
    border-radius: 4px;
}

.newRequest h2{
    position: absolute;
    top: 361px;
    left: 30px;
    font-size: 13px;
}

.newRequest input{
    position: absolute;
    top:384px;
    left: 30px;
    width: 361px;
    height: 80px;
    border-radius: 4px;
    background-color: white;
    border: 1px rgb(212, 212, 212) solid;
}
.newRequest button{
    border: none;
    position: absolute;
    top:484px;
    left:30px;
    width: 120px;
    height: 36px;
    background-color: #5495FF;
    border-radius: 3px;
    color: white;
}
.newRequest .have-questions{
    position: absolute;
    top: 493px;
    left:231px;
    font-size: 13px;
    color: #333333;
    cursor: pointer;
}
.newRequest a{
    text-decoration: none;
    position: absolute;
    top: 493px;
    left:334px;
    color: #5495FF;
    font-size: 13px;
}
.newRequest .startDATE{
    position: absolute;
    top: 284px;
    left: 30px;
    font-size: 13px;
}
.newRequest .startDATE span{
    color: rgb(114, 114, 114);
}
.newRequest .endDATE{
    position: absolute;
    top: 284px;
    left: 180px;
    font-size: 13px;
}
.newRequest .endDATE span{
    color: rgb(114, 114, 114);
}
.newRequest .days{
    position: absolute;
    top: 284px;
    left: 330px;
    font-size: 13px;
}